@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  overflow: hidden;
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
}
